.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* //card */
@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home{
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 1;
}
.medican{
  font-size: 5rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-shadow: #282c34;box-shadow: 7px;
  min-width: 95vw;
  animation: medican-title 2s linear;
}
@keyframes medican-title{
  0%{
    opacity: 0;
    transform: translateY(+100px);
  }
  50%{
    opacity: 0.5;
    transform: translateY(0px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
.desc{
  font-size: 3rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  text-align: center;
  min-width: 95vw;
  /* animation: medican-desc 4s linear; */
  animation: medican-desc 2s linear;
  /* animation-delay: 2s; */
  opacity: 1;

}
@keyframes medican-desc{
  0%{
    opacity: 0;    
    transform: translateY(+50px);

  }
  50%{
    opacity: 0;
    transform: translateY(+50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
.search-bar{
  margin-top: 5vh;
  min-width: 70vw;
  min-height: 7vh;
  animation: serach-bar-anim 4s linear;
  /* animation-delay: 2s; */
  opacity: 1;
}
@keyframes serach-bar-anim{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.do{
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.to{
  color: white;
  height: 45px;
}
.to:hover{
  color: black;
  background-color: white;
}
input::placeholder{
font-family: 'Open Sans', sans-serif;
}
.font{
  font-family: 'Aboreto', cursive;
}
/* .transColor{
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
} */
.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  min-width: 100vw;
}

.navbar{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  min-width: 98.2vw;
  min-height: 77px;
  max-height: 13vh;
  background-color: #282c34;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.medican-w{
  font-size: 2rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-shadow: #282c34;box-shadow: 7px;
  min-width: 10vw;
}
.search-bar-w{
  width: 60vw;
  height: 46px;
  opacity: 1;
}
.space{
  min-width: 5vw;
  min-height: 7vh;
}
.buynow{
  margin-top: 2px;
  background-color: #282c34;
  color: white;
  border: 1px solid white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  text-decoration: none;
  min-width: 5vw;
}
.comInfo{
  margin-top: 2px;
  min-width: 7vw;
  height: 23px;
}
.imageLink{
  height: 175px;
  min-width: 175px;
  align-self: center;
}
@media only screen and (max-width: 992px) {
  .imageLink{
    height: 175px;
  min-width: 175px;
  }
  .info{
    width: 100%;
  }
}
@media only screen and (max-width: 706px) {
  .filterSection{
    visibility: collapse;
    display: none;
  }
  .containFilter{
    justify-content: center;
  }
  .navbar{
    min-height: 100px !important;
  }
  .respoNav{
    margin-bottom: 10px !important;
  }
  .container{
    width: 95vw !important;
  }
  .space{
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .container{
    min-width: 380px !important;
  }
}
@media only screen and (min-width: 563px) {
  
  .disCol{
    /* visibility: collapse; */
    display: flex;
  }
}
@media only screen and (max-width: 563px) {
  .space{
    max-width: 0vw;
  }
  .disCol{
    visibility: collapse;
    display: none;
  }
  .search-bar-w{
    width: 91vw !important;
  }
}
.showResults{
  display: flex;
  color: rgb(0, 0, 0);
  margin: 15px 60px;
}
/* filter */
.filterSection{
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 25vw;
  background-color: white;
  border-radius: 10px;
  max-height: 540px;
}
.slider{
  min-width:15vw;
  margin : -2px 13px;
}
.filterPriceHeading{
  align-self: flex-start;
  margin: 15px 0 15px 40px;
}
.filterHeading{
  align-self: flex-start;
  margin: 0 0 0 40px;
}.divider{
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin: 0;
}
/*--- /.price-range-slider ---*/

.fs{
  font-size: 17px;
}
.fsl{
  font-size: 20px;
}
.couponImg{
  height: 23px;
  margin-right: 10px;
}